@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}

p {
    text-align: justify;
    font-size: 16px;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

a {
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

main h4 {
    font-weight: bold;
}

form button {
    background-color: rgb(90, 5, 5);
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 100px;
    border-radius: 12px;
    margin: 4px;
}

#login {
    background-color: rgba(12, 11, 11, 0.829);
}

#img-login {
    background-color: rgba(218, 218, 218, 0.904);
    border: 4px double black;
    padding: 5px;
}

#navbar a {
    color: white;
    background-color: rgb(90, 5, 5);
    padding: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}
.skendRPG {
    font-size: 120pt;
    min-height: 300px;
    /* border: 2px solid black; */
}

.skend {
    color: rgb(90, 5, 5);
}

.RPG {
    color: black;
}

.btn-menu-app {
    width: 100px;
    height: 60px;
    padding: 5px;
    color: white;
    background-color: rgb(90, 5, 5);
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bold;
    border-radius: 6px;
}

.info {
    float: right;
    padding: 5px;
    margin-top: 20px;
}

.division {
    border-right: 2px double red;
}